// Reset Styles
ol, ul {list-style: none;padding:0;margin: 0;}
*,*:after , *:before {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; padding: 0; margin: 0;}
img,a{display: inline-block;text-decoration:none;}
img{font-size:0;margin:0;}
html,body{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin:0;padding:0;scroll-behavior: smooth;}
body p:last-child {margin-bottom:0;}
body{ font-family: 'Open Sans', sans-serif; }
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { -webkit-appearance: none; margin: 0; }
button, input[type="submit"] { background: none; border: none; outline: none;}
// Style guide
.border-bottom{ border-bottom: 2px solid #eef2f6; }
.border-dark-bottom{ border-bottom: 1px solid #1a1b1e; }
.d-flex { display: flex; }
.d-flex-center { display: flex; align-items: center; }
.d-flex-sb{ display: flex; justify-content: space-between; }
.d-flex-all{ display: flex; align-items: center; justify-content: space-between; }

p{ font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: capitalize; font-size: 14px; color: #1a1b1e; }
span{ font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: capitalize; font-size: 14px; color: #1a1b1e; }
button { font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: capitalize; font-size: 14px; color: #1155cc; cursor: pointer; }

.btn{ color: #000; width: 100%; text-align: center; padding: 10px; background: #fff; border-radius: 4px; display: flex; align-items: center; justify-content: center; }
.blue-btn{ background: #1155cc; color: #fff; box-shadow: 0 1px 2px rgba(17, 85, 204, 0.6); }
.black-btn{ background: #1a1b1e; color: #fff; box-shadow: 0 1px 2px rgba(26, 27, 30, 0.6); }
.btn{ i{ margin-right: 15px; } }
.white-btn{ box-shadow: 0 1px 2px rgba(255, 255, 255, 0.6); }

.lowercase{
    text-transform: lowercase;
}
.main-container{
    background-color: #f2f3f7;
    min-height: 100vh;
}
.home{ 
    padding: 50px 30px; 
    @media (max-width: 1440px){
        padding: 50px 10px;
    }
}
// Styles
.invoice-container{
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;

    .invoice-container-wpr{
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px){
            flex-direction: column;
        }
    }

    .invoice-details-items{
        width: 100%;
        background: #fff;
        max-width: 1110px;
        border-radius: 10px;
        padding: 30px;
        margin-right: 30px;
    }

    .invoice-details-wpr{
        max-width: 320px;
        width: 100%;
        @media (max-width: 1440px){
            max-width: 250px;
        }
        @media (max-width: 1024px){
            margin-top: 30px;
            background: #fff;
            width: 100%;
            padding: 30px;
            max-width: 100%;
            .white-btn, select{                
                background: #f5f7f9;
            }
        }
    }
}

// Invoice Header
.invoice-header{
    padding: 10px 0 30px;
    .date-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .invoice-date{
        p{
            margin-right: 5px;
        }
        i{
            color: #7f8e9e;
            line-height: 13px;
            &::after{
                opacity: 1;
            }
        }
    }   

    .vdp-datepicker{
        cursor: pointer;
        input{
            border: none;
            font-family: 'Open Sans', sans-serif;
            padding: 0;
            color: #7f8e9e;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            width: 80px;

            &:focus{
                outline: none;
            }
        }
    }

    .invoice-number{
        text-align: center;
        padding-top: 20px;
        h1{
            color: #1a1b1e;
            font-weight: 600;
            font-size: 30px;
        }
        span{
            font-size: 30px;
            font-weight: 600;
            color: #7f8e9e;
        }
    }
}

// Inputs and Textarea
.form-group {
    width: 100%;
    margin-bottom: 10px;
    input, textarea{
        background: #f5f7f9;
        border: 1px solid #f5f7f9;
        color: #1a1b1e;
        padding: 10px 20px;
        width: 100%;
        border-radius: 4px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        box-shadow: 0 1px 3px rgba(245, 247, 249, 0.8);

        &::placeholder {
            color: #7f8e9e;
        }

        &:focus{
            outline: none;
        }

    }

    textarea{
        resize: none;
    }

    #item_qty{
        padding: 10px 5px;
        text-align: center;
    }
}

.input_error{
    border: 1px solid #e74c3c !important;
    box-shadow: 0 1px 3px rgba(255, 0, 0, 0.2) !important;
}

// Bill Details
.invoice-body{
    padding: 30px 0;
}

.invoice-billing-details{
    padding-bottom: 20px;
    justify-content: space-between;

    .invoice-bill{
        max-width: calc(50% - 15px);
        width: 100%;

        p{
            margin-bottom: 10px;
        }
    }
}


// Invoice item
.invoice-items{
    
    table{
        width: 100%;
        border-collapse: collapse;

        thead{
            th{
                padding: 10px 30px 10px 5px;
                text-transform: uppercase;
                font-size: 14px;
                font-weight: 600;
                text-align: center;
                @media (max-width: 1440px){
                    padding: 10px 5px;
                }

                &:last-child{
                    padding-right: 10px;
                    text-align: right;
                }
                &:nth-child(1){
                    text-align: left;
                }
            }
        }

        tbody{
            tr {
                &:first-child{
                    td{
                        padding-top: 20px;
                    }
                }
                &.disabled{
                    td{
                        opacity: 0.3;
                        pointer-events: none;
                        &.item-actions{
                            opacity: 1;
                            pointer-events: all;
                        }
                    }
                }
            }
            td{
                padding: 0 30px 10px 0;
                vertical-align: initial;
                font-size: 14px;
                font-weight: 600;

                @media (max-width: 1440px){
                    padding: 10px;
                    padding-left: 0;
                }

            }
        }
        .item-actions{
            width: 10%; 
            text-align:right;
            cursor: pointer;
            padding-right: 10px;
            position: relative;
            button i{
                font-size: 18px;
                color: #7f8e9e;
            }            
        }
        .form-group {                
            @media (max-width: 1440px){
                input{
                    padding: 10px !important;
                }
            }
        }
        .item-total {
            text-align: center;
        }
        .item-price{
            position: relative;
            .form-group{
                position: relative;
            }
            i{
                position: absolute;
                font-size: 16px;
                color: #7f8e9e;
                top: 50%;
                transform: translateY(-50%);
                left: 15px;
                @media (max-width: 1440px){
                    display: none;
                }
            }
            input{
                text-align: right;
                padding-left: 30px;
            }
        }
    }

}
.table-invoice-actions{
    background: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 5px rgba(0,0,0,0.08);
    padding: 20px;
    left: -10px;
    border-radius: 5px;

    button{
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;
        color: #7f8e9e;
        font-size: 13px;
        align-items: center;

        &:disabled{
            cursor: default;
        }

        i{
            font-size: 14px;
            margin-right: 10px;
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}

// Invoice items footer
.invoice-items-footer{
    padding-top: 20px;

    > div{
        max-width: 50%;
        width: 100%;
    }
    .invoice-total-amount-wpr{
        padding-bottom: 10px;
        padding-right: 30px;
        > div{
            margin-bottom: 10px;
            width: 100%;
        
        }
    }

    .invoice-late-fees{
        .form-group{
            input{               
                width: 50px;
                padding: 5px;
                margin-left: 10px;
                text-align: right;
            }
        }
    }
    
    .invoice-total{
        padding-top: 15px;
        padding-right: 30px;
        width: 100%;
        p{
            font-size: 16px;
        }
        span{
            font-size: 16px;
            font-weight: 700;

        }
    }
}

// Invoice Notes
.invoice-notes{
    padding-top: 20px;

    p{
        margin-bottom: 10px;
    }
}



// Invoice Details
.invoice-details-wpr{
    .border-bottom{
        border-color: #e7ecf1;
    }
}
.invoice-details-actions{
    padding-bottom: 10px;
    > div {
        margin-bottom: 15px;
    }

    .get-invoice{
        button{
            &:first-child{
                margin-right: 15px;
            }
        }
    }
}

.invoice-details-currency{
    padding: 20px 0;
    p{
        margin-bottom: 10px;
    }

    select{
        width: 100%;
        border: none;
        background: #fff;
        padding: 10px;
        padding-left: 60px;
        border-radius: 4px;
        -webkit-appearance: none;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        color: #1a1b1e;
        font-weight: 600;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    .currency-select{
        position: relative;

        .currency-flag{
            position: absolute;
            width: 35px;
            height: 25px;
            object-fit: contain;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            border-radius: 4px;
        }
    }
}


.invoice-details-options{
    padding: 20px 0 5px;
}
.user-note{
    background: #fff;
    display: block;
    box-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    padding: 10px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 10px;
}
.checkbox-group{
    position: relative;
    cursor: pointer;
    margin-bottom: 15px;

    input {
        width: 100%;    
        position: absolute;
        height: 100%;
        opacity: 0;

        &:checked + label {             
            &:before {
                background-color: #1155cc;
            }
            &:after {
                right: 2px;
            }
        }
    }

    label{
        position: relative;
        width: 100%;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        text-transform: capitalize;
        font-size: 14px;
        color: #1a1b1e;
        cursor: pointer;
        
        &:before, &:after{
            content: '';
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: 0.2s ease;
        }
        &:before {
            
            width: 30px;
            height: 16px;
            border-radius: 25px;
            background-color: #bdc5cf;
            right: 0;
        }

        &:after {
            height: 12px;
            width: 12px;
            right: 16px;
            border-radius: 50%;
            background-color: #fff;       
        }
    }
}


// Download Invoice
.invoice-details-items{
    &.invoice-wpr{
        padding: 20px;
        max-width: initial;
        i{
            display: none;
        }
        .invoice-bill {
            .form-group {
                padding: 0;
                margin: 0;
            }
        }
        table{
            th, td{
                padding: 10px !important;
            }
        }

        .form-group{
            margin-bottom: 0;
            input{
                background: none;
                border: none;
                box-shadow: none;
                padding: 0;
            }
        }
    }
}